%h1 Listing blogs

%table
  %tr
    %th Id
    %th Title
    %th Body
    %th Name
    %th Language
    %th Belongs to
    %th
    %th
    %th

  - @blogs.each do |blog|
    %tr
      %td= blog.id
      %td= blog.title
      %td= blog.body
      %td= blog.name
      %td= blog.language
      %td= blog.user.email
      %td= link_to 'Show', blog
      %td= link_to 'Edit', edit_blog_path(blog)
      %td= link_to 'Destroy', blog, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Blog', new_blog_path
