%h1 Listing documents

%table
  %tr
    %th Case number
    %th Filepicker url
    %th Uploader
    %th Date opened
    %th Case name
    %th Paid
    %th
    %th
    %th

  - @documents.each do |document|
    %tr
      %td= document.case_number
      %td= document.filepicker_url
      %td= document.uploader
      %td= document.date_opened
      %td= document.case_name
      %td= document.paid
      %td= link_to 'Show', document
      %td= link_to 'Edit', edit_document_path(document)
      %td= link_to 'Destroy', document, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Document', new_document_path
