%p#notice= notice

%h2
  = @document.case_name

%p
  %b Case number:
  = @document.case_number
%p
  %b Link to PDF:
  = link_to "Click Here", @document.filepicker_url
%p
  %b Date opened:
  = @document.date_opened.strftime("%m/%d/%y")
%p
  %b Status:
  = @document.paid ? "Paid" : "under review"

= link_to 'Edit', edit_document_path(@document)
\|
= link_to 'Back', documents_path
